<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>programing di rumah</title>
    <link rel="stylesheet" type="text/css" href="styley.css">
</head>
<body>
    <nav>
        <div class="wrapper">
        <div class="logo"><a href="">Fahmi's Home</a></div>
        <div class="menu">
            <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#courses">Courses</a></li>
                <li><a href="#tutors">Tutors</a></li>
                <li><a href="#partners">Partners</a></li>
                <li><a href="#contact">Contact</a></li>
                <li><a href="" class="tbl-biru">Sign Up</a></li>
            </ul>
        </div>
        </div>
    </nav>
    <div class="wrapper">
        <!-- untuk home -->
        <section id="home">
            <img src="https://img.freepik.com/free-vector/programming-concept-illustration_114360-1351.jpg?t=st=1658399452~exp=1658400052~hmac=0d7395830e546dd761a1f6a91f0461e153041fed759cdea53361fa278e055292&w=740" alt="">
            <div class="kolom">
                <p class="">Belajar programing #dirumah saja</p>
                <h2>Tetap Sehat, Tetap Semangat</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, impedit.</p>
                <p><a href="" class="tbl-pink">Pelajari Lebih Lanjut</a></p>
            </div>
        </section>
        <!-- untuk courses -->
        <section id="courses">
            <div class="kolom">
                <p class="deskripsi">You Will Need This</p>
                <h2>Online Courses</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, sequi.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, sequi.</p>
                <p><a href="" class="tbl-biru">Pelajari Lebih Lanjut</a></p>
            </div>
            <img src="https://img.freepik.com/free-vector/online-learning-isometric-concept_1284-17947.jpg?t=st=1658410614~exp=1658411214~hmac=6f3d8d3c1e2117bb29548959e24442b089496ca7e0b2f5615d1ed81e9fbcf9bc&w=826" alt="">
        </section>

        <!-- untuk tutors -->
        <section id="tutors">
            <div class="tengah">
                <div class="kolom">
                    <p class="deskripsi">Our Top Tutors</p>
                    <h2>Tutors</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste laboriosam dolor quaerat unde odit! Hic!</p>
                </div>

                <div class="tutors-list">
                    <div class="kartu-tutor">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRizOLHl2Wsjcc4KLC4z_OpJrbPaFMwE5xBNw&usqp=CAU" alt="">
                        <p>jon Lee Scott</p>
                </div>
            </div>
        </section>

        <!-- ini untuk partners -->
        <section id="partners">
            <div class="tengah">
                <div class="kolom">
                    <p class="deskripsi">Our Top Partners</p>
                    <h2>Partners</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus quasi labore itaque autem temporibus laudantium, numquam commodi hic id laboriosam.</p>
                </div>
                <div class="partners-list">
                    <div class="kartu-partners">
                        <img src="https://play-lh.googleusercontent.com/D-b9YT-KBza9mfJF8abLMBEgP3w8CAAQEvcBbgYIkwW-BpjsyQO1HCEjBSOthPG8cuM=w240-h480-rw" alt="">
                    </div>
                    <div class="kartu-partners">
                        <img src="https://unira.ac.id/img/logo.png" alt="">
                    </div>
                    <div class="kartu-partners">
                        <img src="https://cdn.kibrispdr.org/data/105/download-logo-iain-madura-17.jpg" alt="">
                    </div>
                </div>
            </div>
        </section>
    </div>

    <div id="contact">
        <div class="wrapper">
            <div class="footer">
                <div class="footer-section">
                    <h3>Fahmi</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, distinctio.</p>
                </div>
                <div class="footer-section">
                    <h3>contact</h3>
                    <p>jl. maddis kadur Pamekasan</p>
                    <p>kode pos: 35267</p>
                </div>
                <div class="footer-section">
                    <h3>Social</h3>
                    <p><b>YouTube: </b>Fahmi Official</p>
                </div>
            </div>
        </div>
    </div>
    <div id="copyright">
        <div class="wrapper">
            &copy; 2022. <b>Fahmi Hidayat</b> All Right Reserver.
        </div>
    </div>

</body>
</html>    